# Ignore git.
.git

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore built assets
/app/assets/builds/*
!/app/assets/builds/.keep
/public/assets

# Ignore Snyk cache
.dccache

# Ignore fly.io config.
fly.toml

# Ignore local config.
Procfile.dev
