<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <%= render(Shared::FlashComponent.new(flash: @flash)) %>

      <%= content %>

      <div class="mt-6">
        <div class="relative">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center text-sm">
            <span class="bg-white px-2 text-gray-500">Or</span>
          </div>
        </div>

        <div class="mt-4">
          <%= render(Devise::LinksComponent.new(devise_mapping: @devise_mapping)) %>
        </div>
      </div>
    </div>
  </div>
